<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Bingo Game by vs</title>
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <h1>Bingo</h1>
    <div class="message-box hidden"></div>

    <div class="player-box">
      <input id="player-name" type="text" placeholder="Enter player name" />
      <button class="start-btn">Join</button>
    </div>

    <div class="online-users">
      <!-- <div class="user-container">
        <h1 class="user-name">vicky</h1>
        <button class="user-btn">Play</button>
      </div> -->
    </div>

    <div class="game-container hidden">
      <div class="player"></div>
      <div class="game-box"></div>
      <div class="current-play"></div>
    </div>

    <script src="/socket.io/socket.io.js"></script>
    <script src="script.js" type="module"></script>
  </body>
</html>
