@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Montserrat", sans-serif;
    background-color: #212121;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
}


/* Styles for start menu */
.player-box {
    color: white;
    display: flex;
    justify-content: center;
    gap: 10px;
    align-items: center;
    padding: 20px;
    width: 100%;
    margin: 10px auto;
    max-width: 400px;
}

.player-box input {
   width: 100%;
    border-radius: 5px;
    padding: 10px;
    border: none;
    outline: none;
    font-size: 1rem;
}

.player-box button {
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 1rem;
    padding: 10px 15px;
    background-color: green;
    color: white;
    border-radius: 5px;
}


/* Styles for online users menu on start */

.online-users {
    width: 100%;
    height: 200px;
    margin-top: 10px;
    max-width: 400px;
    margin: 20px auto;
}
.online-users h1{
    font-size: 1.2rem;
    margin-bottom: 10px;
}

.user-container { 
    /* border: 1px solid blue; */
    background-color: darkslateblue;
    padding: 20px;
    border-radius: 20px;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.user-container h1{
    font-size: 1.3rem;
}

.user-container button  {
    padding: 10px 20px;
    border: none;
    outline: none;
    border-radius: 10px;
    cursor: pointer;
    background-color: beige;
    color: black;
    font-size: 1rem;
}

.user-container button:hover{
    opacity: 90%;

}


/* styles for game menu */


.game-container {
    font-size: 1rem;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.game-box {
    display: grid;
    grid-template-columns: repeat(5, 1fr); 
    gap: 5px;
    width: 85%; 
    max-width: 400px;
    margin: 30px auto; 
    background-color: #212121;
    padding: 5px;
    border-radius: 5px;
}

.number-btn {
    color: white;
    font-weight: bold;
    background-color: whitesmoke; 
    padding: 10px;
    font-size: 2rem;
    outline: none;
    border: none;
    margin: 2px;
    cursor: pointer;
    border-radius: 5px;
    width: auto;
    aspect-ratio: 1;
    transition: all .3s ease;
}

.number-btn:hover {
    opacity: 90%;
}




.current-play {
    display: flex;
    font-size: 1rem;
    gap: 10px;
}

.current-play ul {
    display: flex;
    flex-direction: column;
    list-style: none;
    align-items: center;
    margin: 10px;
    padding: 10px;
}



.btn {
    outline: none;
    border: none;
    padding: 10px 20px;
    margin-top: 10px;
    background-color: green;
    color: white;
    font-size: 1rem;
    border-radius: 10px;
    cursor: pointer;
}

.player {
    padding: 10px;
    font-size: 1.5rem;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    justify-content: center;
    
}




.message-box {
    background-color: #212121;
    color: white;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
    position: absolute;
    inset: 0;
}

.hidden {
    display: none;
}

.animate {
    animation: scales 0.6s linear infinite alternate; /* Repeat animation infinitely */
}

/* Define the keyframes for scaling */
@keyframes scales {
    0% { 
        transform: scale(1);
    }
    100% {
        transform: scale(1.5);
    }
}



/* Mobile Screen (up to 768px) */

@media (max-width: 768px) {
    .game-box {
        gap: 5px;
    }

    .message-box {
        font-size: 1.5rem;
        padding: 10px;
    }

    .player-box {
        flex-direction: column;
        gap: 15px;
        padding: 15px;
    }

    .current-play {
        font-size: 0.9rem;
        gap: 5px;
    }

    .btn, .player-box button {
        font-size: 0.9rem;
        padding: 8px 16px;
        border-radius: 8px;
    }

    .number-btn {
        padding: 6px;
        font-size: 1.8rem;
        margin: 1.2px;
    }

    .player {
        font-size: 1.2rem;
    }
}
